Repository m-mcardle/CourseScheduler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy

.gitlab-ci.yml:

image: python:latest

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

test:
  script:
    - cd cli
    - python -m unittest -b tests/*.py
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - cli/**/*

deploy:
  script:
    - chmod 400 $SSH_KEY
    - scp -i $SSH_KEY -o StrictHostKeyChecking=no -r ./client Team-205@20.168.192.248:~/
    - ssh -i $SSH_KEY -o StrictHostKeyChecking=no Team-205@20.168.192.248 "cd ~/client; forever stopall; npm install; forever start -c 'npm start' ./;"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - client/**/*

Setup static React hosting
  .gitlab-ci.yml
  client/default.conf
  client/nginx.conf
  client/restart.sh
Due: deploy

Add table for course info
  client/src/CourseSelectionComponent.js
  client/src/Schedule.js
Due: deploy

`npm install` in deploy stage
  .gitlab-ci.yml
Due: none

Adjust layout of webpage
  client/src/App.css
  client/src/App.js
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
  client/src/Schedule.js
Due: deploy

Add `Autocomplete`
  client/src/App.js
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
  client/src/Schedule.js
Due: deploy

Get rough collision checking working
  client/src/App.js
  client/src/CourseSelectionComponent.js
  client/src/Schedule.js
Due: deploy

Added CourseAlert component
  client/src/CourseAlert.js
Due: deploy

Finish collision checking
  client/src/App.css
  client/src/App.js
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
  client/src/Schedule.js
Due: deploy

Fix bug with multiple collisions of the same course
  client/src/CourseSelectionPanel.js
Due: deploy

front-end work
  client/src/App.css
  client/src/App.js
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
  client/src/Schedule.js
  client/src/themes.js
Due: deploy

Fix bug with TBA meeting times
  client/src/Schedule.js
Due: deploy

Create client tests, update CI/CD
  .gitlab-ci.yml
  client/src/App.test.js
  client/src/Schedule.js
  client/src/helpers/date.js
  client/src/tests/App.test.js
  client/src/tests/helpers/date.test.js
Due: deploy

Move `image` into each job
  .gitlab-ci.yml
Due: none

Add deploy-api to CI/CD
  .gitlab-ci.yml
  api/README.md
Due: none

Update README's
  README.md
  api/README.md
  cli/README.md
  client/README.md
  excel/README.md
Due: test, deploy

More README tweaks
  README.md
Due: none

Move `NGINX` to its own folder
  nginx/config/default.conf
  nginx/config/nginx.conf
  nginx/config/self-signed.conf
  nginx/config/ssl-params.conf
  nginx/install.sh
  nginx/restart.sh
Due: none

Update paths to config files in scripts, add README
  nginx/README.md
  nginx/install.sh
  nginx/restart.sh
Due: none

Add calendar tooltip
  client/src/CourseSelectionComponent.js
  client/src/Schedule.js
  client/src/helpers/date.js
Due: deploy

Move `ThemeProvider` to `<App/>` to fix tests
  client/src/App.js
  client/src/index.js
  client/src/tests/helpers/date.test.js
Due: deploy

update frontend
  client/src/App.css
  client/src/CourseDataComponent.js
  client/src/CourseDataPanel.js
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
Due: deploy

update clear course button color
  client/src/CourseSelectionPanel.js
Due: deploy

collision front end
  client/src/App.css
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
Due: deploy

scroll bar
  client/src/App.css
Due: deploy

add course data front end
  client/src/CourseSelectionComponent.js
Due: deploy

Cypress testing
  client/cypress.config.js
  client/cypress/.gitignore
  client/cypress/README.md
  client/cypress/e2e/home-page/home.cy.js
  client/package-lock.json
  client/package.json
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
  client/src/Schedule.js
Due: deploy

Cleanup `collisionCourses` rendering
  client/src/CourseSelectionComponent.js
Due: deploy

Add Cypress to CI/CD
  .gitlab-ci.yml
  client/package.json
Due: deploy

Change Docker image
  .gitlab-ci.yml
Due: none

Record CI/CD on Cypress
  .gitlab-ci.yml
  client/package.json
Due: deploy

fix resize issue
  client/src/App.js
  client/src/Schedule.js
Due: deploy

Update README
  README.md
  client/README.md
Due: deploy

Add enviornments to CI/CD and add more cypress commands
  .gitlab-ci.yml
  client/package.json
Due: deploy

Shorten courses to course code in calendar and collisions
  client/cypress/e2e/home-page/home.cy.js
  client/src/App.css
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
  client/src/helpers/date.js
Due: deploy

Fix tests
  client/src/tests/helpers/date.test.js
Due: deploy

Change `id` to `class` for e2e, add collision spec
  client/cypress/e2e/home-page/home.cy.js
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
  client/src/Schedule.js
Due: deploy

Seperate enviornments for api and client
  .gitlab-ci.yml
Due: none

Updated README
  README.md
Due: none

Messing around with CI/CD (stages, dependencies)
  .gitlab-ci.yml
Due: none

Add Unit Tests README
  client/src/tests/README.md
Due: deploy
