Repository m-mcardle/CourseScheduler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-cli, test-client, deploy, deploy-api, e2e

test-cli:
  image: python:latest
  script:
  - cd cli
  - python -m unittest -b tests/*.py

test-client:
  image: node:latest
  script:
  - cd client
  - npm install
  - npm test

deploy:
  image: node:latest
  script:
  - chmod 400 $SSH_KEY
  - scp -i $SSH_KEY -o StrictHostKeyChecking=no -r ./client Team-205@20.168.192.248:~/
  - ssh -i $SSH_KEY -o StrictHostKeyChecking=no Team-205@20.168.192.248 "cd ~/client; npm install; npm run build; sudo cp -r ./build /www;"

deploy-api:
  image: node:latest
  script:
  - chmod 400 $SSH_KEY
  - scp -i $SSH_KEY -o StrictHostKeyChecking=no -r ./api Team-205@20.168.192.248:~/
  ...

e2e:
  image: cypress/browsers:node16.14.0-chrome99-ff97
  script:
  - cd client
  - npm ci
  - npm run e2e:prod
  artifacts:
    when: always
    paths:
    - client/cypress/videos/**/*.mp4
    - client/cypress/screenshots/**/*.png
    expire_in: 1 day

`npm build` ==> `npm run build`
  .gitlab-ci.yml
Due: none

Added eslint with prop-types rule disabled
  client/.eslintrc.json
  client/package.json
  client/src/Schedule.js
Due: test-client, deploy, e2e

Fixed eslint
  client/package.json
Due: test-client, deploy, e2e

including package-lock
  client/package-lock.json
Due: test-client, deploy, e2e

add DE spec
  client/cypress/e2e/home-page/home.cy.js
Due: test-client, deploy, e2e

pylint
  .gitlab-ci.yml
  api/.pylintrc
  api/README.md
  api/app.py
Due: deploy-api

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .pylintrc
  api/.pylintrc
Due: deploy-api

Remove `/excel` and update README
  README.md
  excel/.gitignore
  excel/README.md
  excel/courses.csv
  excel/spreadsheet.xlsm
  excel/spreadsheet_mac.xlsm
  excel/vba_code.bas
Due: none

adding aslant to ci/cd
  .gitlab-ci.yml
Due: none

adding eslint
  .gitlab-ci.yml
Due: none

Add `npm run lint` to `test-client`
  .gitlab-ci.yml
Due: none

Remove old lint stage
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

Sprint 7 Retrospective
  Sprint_7_Presentation.pptx
Due: none

Update `/api` and `/cli` for filtered course requests
  api/app.py
  api/data/courses.csv
  api/data/f22.json
  api/data/w23.json
  cli/.gitignore
  cli/parser.py
  cli/tests/data/expected.csv
  cli/tests/data/expected.json
  client/src/App.js
Due: test-cli, test-client, deploy, deploy-api, e2e

Only build on `main`
  .gitlab-ci.yml
Due: none

Fix `deploy` step
  .gitlab-ci.yml
Due: none

Try and cache `node_modules`
  .gitlab-ci.yml
Due: none

Add image to install_deps
  .gitlab-ci.yml
Due: none

Add `cd client`
  .gitlab-ci.yml
Due: none

client/node_modules
  .gitlab-ci.yml
Due: none

Add empty needs for Python, remove `npm ci` in later stages
  .gitlab-ci.yml
Due: none

Fix needs
  .gitlab-ci.yml
Due: none

More `needs` fixes
  .gitlab-ci.yml
Due: none

Fix Cypress binary caching
  .gitlab-ci.yml
Due: none

Remove `install_deps`
  .gitlab-ci.yml
Due: none

Update `api` README
  api/README.md
Due: deploy-api

Support w23 on `/course` API route
  api/app.py
Due: deploy-api

Added Filter Modal
  client/src/CourseSelectionPanel.js
  client/src/FilterModal.js
Due: test-client, deploy, e2e

Added clean icon for filter
  client/src/CourseSelectionPanel.js
  client/src/FilterModal.js
Due: test-client, deploy, e2e

add filters - broken
  client/src/App.js
  client/src/CourseSelectionPanel.js
  client/src/FilterModal.js
Due: test-client, deploy, e2e

Few tweaks to api calls in front-end
  client/src/CourseSelectionComponent.js
  client/src/CourseSelectionPanel.js
Due: test-client, deploy, e2e

Path conditions:
  test-cli: any of: cli/**/*
  test-client: any of: client/**/*
  deploy: any of: client/**/*
  deploy-api: any of: api/**/*
  e2e: any of: client/**/*
